
    @font-face {
    font-family: "Myth";
    src: url("../assets/fonts/Mythology\ Of\ Egypt.ttf")
}


body{

    background-color: rgb(226, 226, 226);
    margin: 0;
    font-family: "Poppins";
}

/*Navbar*/

#mainHeader {

    background-image: url("/assets/images/homeHeader.png");
    background-size:cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 1080px;
    text-align: end;
}


.navBar {

    background-color: #ffffffb0;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

   
    margin: 50px 80px;

    border: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 40px;
}

.topLogo {

   padding-top: 5px;
}

.navLinks {

    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}


.navLinks a{

    color: #000000;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 18pt;
    font-weight: 600;
}

.linkI:hover {

    color: #15d5f5;
}

.searchBar {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    height: 55px;

    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

.searchItem {

    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #00000080;
}

.searchItem::placeholder{

    font-family: "Poppins"; 
    font-weight: 600;
    color: #000000;
}

.bar {

    border-right: solid #00000042 2px;
}


.searchItemI {

    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #000000;
}

/*Header for index*/

.intro {

   margin-top: 450px;
}

.intro h1{

    display: flex;
    justify-self: end;
    text-align: start;
  
    margin: 0px;
    font-size: 96pt;
    font-family: "Myth";
    padding-right: 130px;
    color: #e9ad1c;
}

.intro h2{

    display: flex;
    justify-self: end;
    text-align: start;

    padding-right: 140px;
    
    margin: 0px;

    font-family: "Metamorphous";
    color: #ffffff;
    font-size: 24pt;
}


/*Blue Section*/

.blueSection {

    background-color: #002d68;
    height: 1080px;
}



/*White Sections*/

.witSectionI {

    background-color: #ffffff;
    height: 900px;
}

.witSectionII {

    background-color: #ffffff;
    height: 1080px;
}


/*Footer Section*/

.endSection {

    background-color: #ffffff;
    height: 450px;
}

.endInfo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 60px;
    padding-left: 110px;
    padding-right: 110px;
   
}

.fLeft {

    display: flex;
    flex-direction: column;
    text-align: left;

    box-sizing: content-box;
    width: 540px;
}

.fLeft p{

    font-size: 16pt;
    font-weight: 400;
    color: #000000a2;
}

.fLinks {

    display: flex;
    flex-direction: column;

    padding-right: 40px;
    text-align: left;
    gap: 20px;
}

.fLinks h1{

    font-weight: 600;
    font-size: 18pt;

    padding-bottom: 10px;
}

.link2 {

    text-decoration: none;
    font-weight: 500;
    color:  #000000a2;
    font-size: 16pt;
}

.link2:hover{

    text-decoration: none;
    font-weight: 500;
    color:   #15d5f5;
    font-size: 16pt;
}


.socialM {

    display: flex;
    flex-direction: column;
}

.socialM h1{

    font-weight:600;
    font-size: 18pt;
    padding-bottom: 30px;
}

.socialImages {

    display: flex;
    flex-direction: row;
    gap: 20px;
}


.misc {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16pt;
    color: #0000007e;
    
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 60px;
   
    border-top: 2px solid #00000027;
}


.lSide {

    margin-left: -40px;
    padding-top: 20px;
}


.rSide {

   display: flex;
    padding-top: 20px;
   gap: 30px;

   font-size: 16pt;
   font-weight: 500;
   color: #000000a2;
}


/*First section*/

#uniPage {

   display: flex;
   flex-direction: row;
   justify-content: space-around;

   margin-left: 120px;
   margin-right: 120px;
}

#unicorn {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 110px;
    background-image: url("/assets/images/imageSlider1.png");
    background-size: cover;
   
    background-repeat: no-repeat;
    box-sizing: content-box;
    width: 815px;
    height: 860px;
}

#unicorn button {

 background-color: #ffffff00;
 border: none;
 font-size: 80px;
 color: #ffffff;
}

#uniText {

    display: flex;
    flex-direction: column;

    margin-top: 250px;
}

#uniText h2 {

    margin: 0px;
    color: #e9ad1c;
    padding-left: 10px;

    font-weight: 600;
    font-size: 18pt;
}

#uniText h1 {

    margin: 0px;
    color: #ffffff;
    font-size: 40pt;
    line-height: 70px;
    padding-left: 10px;
}


#uniText p {

    color: #ffffff;
    font-size: 16pt;
    line-height: 35px;
    padding-left: 10px;
}

.cradleALegend {

    background-color:#15d5f5;
    border-radius: 20px;
    border-color: #ffffff00;
    width: 320px;
    margin-top: 20px;
    font-weight: 700;
}

/*Second section*/

#birdPage {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 120px;
    margin-right: 80px;
}


#birdText {

    display: flex;
    flex-direction: column;

    margin-top: 250px;
}


#birdText h2 {

    margin: 0px;
    color: #15d5f5;
    padding-left: 60px;

    font-weight: 600;
    font-size: 18pt;
}


#birdText h1 {

    margin: 0px;
    color: #220070;
    font-size: 40pt;
    line-height: 70px;
    padding-left: 60px;
}

#birdText p {

    color: #00000088;
    font-size: 18pt;
    line-height: 35px;
    padding-left: 60px;
}


#bird {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 124px;
    background-image: url("/assets/images/homeImg1.png");
    background-size: cover;
   
    background-repeat: no-repeat;
    box-sizing: content-box;
    width: 800px;
    height: 616px;

    border: 1px solid #ffffff00;
    border-radius: 25px;
}

/*Third Section*/

#storiesTitle {

    padding-top: 70px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

#storiesTitle h2 {

    color: #e9ad1c;
    margin: 0px;
    font-weight: 600;
    font-size: 18pt;
}

#storiesTitle h1 {

    color:#ffffff;
    margin: 0px;
    font-weight:700;
    font-size: 40pt;
}

#stories {

    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
}


.aStorie {

    margin-top: 50px;
    border-radius: 25px;
    border: 1px solid #ffffff00;
    
    text-align: center;
    color: #ffffff;
}

.aStorie img {

    border-radius: 25px;
    border: 1px solid #ffffff00;
}

.aStorie h2 {

    margin: 0px;
    font-size: 18pt;
}

.aStorie p {

    margin: 0px;
    font-size: 16pt;
}


#endButton {

    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#endButton button {

    font-family: "Poppins";
    height: 80px;
    font-size: 18pt;
    color: #ffffff;
}

#endButton p {

    margin: 0px;
}

/*End of Home Page*/






/*Start of the Adoption Page*/

#adHead {

    height: 1080px;
    background-color: #15d5f5;
    
}

#halfHeadA {

    background-image: url("/assets/images/adoptHeader.png");
    background-size: cover;
    overflow: hidden;
    background-repeat:no-repeat;
    width: auto;
    text-align: center;
}

#halfHeadA h1 {

    font-family: "Myth";
    font-size: 96pt;
    color: #ffffff;
}
 

#halfHeadAII {

    background-color: #002d68;
    height: 480px;
    text-align: center;
    word-spacing: 10px;
    
}


#halfHeadAII h1 {

    padding-top: 60px;
    font-size: 40pt;
    margin: 0px;
    font-family: "metamorphous";
    color: #e9ad1c;
}

#halfHeadAII p {

    font-size: 16pt;
    color: #ffffff;
}

#orangeBar {

height: 120px;
background-color: #e9ad1c;
}

/*First section of adoption page - orange bar difficulties*/

.adoptionCreatureWit {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 8% 4%;
}

.adoptionCreatureWit img {

    border-radius: 2%;

    margin-right: 100px;
}

.witTeks {

    display: flex;
    flex-direction: column;
    
}


.witTeks h1 {

    font-size: 40pt;
    font-weight: bold;
    margin: 0;
}

.witTeks h2 {

    font-size: 18pt;
    font-weight:600;
    margin: 0;
    color: #00000061;
}


.sterre {
    
    display: flex;
    flex-direction: row;
    align-items: center;

    border:none
}

.sterre p {

    border-style:solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-width: 2px;
    
    color: #00000061;

    padding-left: 30px;
}


.rating {

    color: #e9ad1c;
    font-size: 130%;
    padding-right: 10%;
}

.descOfCreature {

    font-size: 16pt;
    font-weight: 400;
    line-height: 170%;
}

.descOfCreature p {

    margin-top: 0;

}


.addToCradleWit {

    margin-top: 7%;

    display: flex;
    flex-direction: row;

}

.counterWit {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

   
    border-style: solid;
    border-color: #ffffff00;
    border-radius: 20px;
   
    color: #ffffff;
    background-color: #002d68;
    
    padding: 1% 8%;
}

.counterWit p {

    padding-left: 25%;
    padding-right: 25%;

    font-size: 16pt;
    font-weight: 700;

}


.negative {

    border: none;

    font-size: 16pt;
    font-weight: 700;
    color: #ffffff;
    background-color: #002d6800;

    padding-right: 80%;
}



.positive {

    border: none;

    font-size: 16pt;
    font-weight: 700;
    color: #ffffff;
    background-color: #002d6800;

    padding-left: 80%;
}


.addToCart {

    font-family: 'poppins';
    font-size: 18pt;
    font-weight: 600;

    padding: 1% 9%;

    background-color: #15d5f5;
    color: #ffffff;

    border-radius: 20px;
    border-color: #00000000;

    margin-left: 5%;

}


.gear {

    display: flex;
    flex-direction: row;

    border-style: solid;
    border-color: #00000061;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;

    font-size: 16pt;
    color: #00000061;

    margin-top: 7%;

    padding-top: 3%;
}


.catG {

    line-height: 250%;

}

.dubbelP {

    line-height: 250%;
    padding-left: 30px;

}

.voorraad {

    line-height: 250%;
    padding-left: 20px;

}

/*Second section of adoption page - Blue Sections*/

.adoptionCreatureBlue {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 8% 4%;

}

.adoptionCreatureBlue img {

    border-radius: 2%;

    margin-right: 100px;

}

.blueTeks {

    display: flex;
    flex-direction: column;

}

.blueTeks h1 {

    font-size: 40pt;
    font-weight: bold;
    margin: 0;
    color: #ffffff;

}

.blueTeks h2 {

    font-size: 18pt;
    font-weight:600;
    margin: 0;
    color:#15d5f5;
}

.sterreB {
    
    display: flex;
    flex-direction: row;
    align-items: center;

    border:none
}

.sterreB p {

    border-style:solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-width: 2px;
    
    color:#ffffff79;

    padding-left: 30px;
}

.descOfCreatureB{

    font-size: 16pt;
    font-weight: 400;
    line-height: 170%;
    
}

.descOfCreatureB p {

    margin-top: 0;
    color: #ffffff;

}

.addToCradleBlue {

    margin-top: 7%;

    display: flex;
    flex-direction: row;

}

.counterBlue {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-color: #ffffff00;
    border-radius: 20px;
   
    color: #ffffff;
    background-color:#e9ad1c ;
    
    padding: 1% 8%;

}

.gearB {

    display: flex;
    flex-direction: row;

    border-style: solid;
    border-color: #ffffff79;
    border-width: 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;

    font-size: 16pt;
    color: #ffffff79;

    margin-top: 7%;

    padding-top: 3%;

}

#viewCradle button {

    font-family: 'poppins';
    font-size: 18pt;
    font-weight: 600;

    padding: 1% 9%;

    background-color: #15d5f5;
    color: #ffffff;

    border-radius: 20px;
    border-color: #00000000;

}
